header nav {
    border-left-width: 2px;
    border-color: #e2e8f0;
    box-shadow: -10px 0px 15px -3px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
    header nav {
        border: none;
        box-shadow: none;
    }
}
