/*
 *  Entry stylesheet file for try project.
 *  Created On 24 October 2022
 */

@import url('https://vyaktitva.vercel.app/assets/css/fonts.css');

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* full height and flex for Next.js */
#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* hotfix for footer padding */
/* todo: fix it in next version of vyaktitva */
v-footer footer .v-container {
    @apply px-7;
}

/* hotfix for nav background missing on mobile */
v-header header nav {
    background-color: white !important;
}

@media screen and (min-width: theme('screens.md')) {
    v-header header nav {
        background-color: transparent !important;
    }
}
